/* montserrat & robot */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*  */


/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    ;

}

.maxWidth {
    max-width: 1440px;

}

/* hero */

.hero {
    display: flex;

    column-gap: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: auto;

}




.heroLeft p,
.heroLeft h3 {
    color: #848484;
    font-size: 16px;

    font-weight: 300;
}

.heroLeft p {
    text-wrap: balance;
    line-height: 23px;
}

.heroLeft h1 {
    font-size: 70px;
    font-weight: 300;
    color: #011640;
    text-wrap: balance;
    line-height: 70px;

}

.search {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.finder {
    width: 100%;
    font-size: 16px;
    padding: 11px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    font-family: "roboto", sans-serif;


}


.searchBar {
    background-color: #011640;
    padding: 11px 28px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    border: 1px solid #011640;

}



.heroRight img {
    width: 100%;

}

/* service */

.service {
    display: flex;
    margin: auto;
    background-color: #011640;
    padding: 60px 0px;
    justify-content: space-around;
    align-items: center;
    gap: 30px;


}

.service h1,
.service p {
    color: white;
    font-weight: 300;
    line-height: 29px;


}

.service h1 {
    line-height: 40px !important;
    max-width: 500px;
}

.service p {
    max-width: 500px;
}

/* luxury*/
.luxury {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.communities {
    text-align: center;
    margin-bottom: 50px;
}

.communities h3,
.communities p {
    color: #848484;
    font-weight: 300;
}

.communities h1 {
    color: #011640;
    font-weight: 300;
    margin-bottom: 30px;
}

.homes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.homeCart {
    position: relative;
    border-radius: 15px;
    overflow: clip;
    height: 300px;

}

.homeCart img {
    object-fit: cover;
    height: 100%;
    width: 100%;



}

.cartTitle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.cartTitle button {
    border: none;
    background: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 18px;
    display: none;

}

.homeCart:hover .cartTitle button {
    display: block;
}

.holdingNumber {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}



/* responsive */


@media screen and (max-width:1405px) {

    /* hero */
    .heroLeft h1 {
        font-size: 50px;
        line-height: 50px;

    }

    .heroLeft p {
        font-size: 14px;
    }
}


@media screen and (max-width:1024px) {

    /* hero */
    .hero {
        flex-direction: column;
    }

    .heroLeft {
        text-align: center;
    }

    .heroRight img {
        display: none;
    }

    /* service */
    .service {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    /* luxury */

    .homes {
        grid-template-columns: 1fr 1fr;
    }
}



@media screen and (max-width:768px) {
    /* luxury */

    .homes {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px) {

    /* hero */
    .hero {
        padding: 20px;
    }

    .heroLeft p {
        font-size: 12px;
        line-height: 15px;
    }

    .heroLeft h1 {
        font-size: 35px;
        line-height: 35px;


    }

    .search {
        margin-top: 15px;
    }

    /* service */
    .service h1 {
        font-size: 27px;
    }

    /* luxury */
    .homeCart {
        height: 250px;
    }
}

@media screen and (max-width:370px) {
    .service h1 {
        font-size: 25px;
    }

    /* luxury */
    .homeCart {
        height: 200px;
    }
}